{% extends "layouts/base.html" %}
{% load is_question_assigned from templatetags %}
{% load paginate from pagination %}
{% block title %} Patients Manager {% endblock %}

{% block content %}
<style>
    html, body {
    max-width: 100%;
    overflow-x: hidden;
}
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            {% if success_msg %}
            <div class="alert alert-success">
                <strong>{{ success_msg }}</strong>
            </div>
            {% endif %}
            <div class="card-header"><strong>Assign questions to patient {{ patient }}</strong></div>
            <div class="card-body">
                {% if questions %}
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;">Question text</th>
                        <th style="text-align: center; vertical-align: middle;">Possible responses</th>
                        <th style="text-align: center; vertical-align: middle;">Frequency</th>
                        <th style="text-align: center; vertical-align: middle;">Priority</th>
                        <th style="text-align: center; vertical-align: middle;">Privacy</th>
                        <th style="text-align: center; vertical-align: middle;">Creator</th>
                        <th style="text-align: center; vertical-align: middle;">Language</th>
                        <th style="text-align: center; vertical-align: middle;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in questions %}
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ question.text }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% for response in question.response_set.all %}
                            {{ response }} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ question.get_frequency_display }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ question.priority }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if question.public %}
                            <span class="badge badge-success">Public</span>
                            {% else %}
                            <span class="badge badge-danger">Private</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ question.creator.user.username }}
                            {% if question.creator.user.username == request.user.username %}
                            (You)
                            {% endif %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ question.get_language_display }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if not patient|is_question_assigned:question %}
                            <a href="/patients_manager/assign_questions/{{question.id}}/{{patient.identifier}}/">
                                <button class="btn btn-pill btn-primary" type="button">
                                    <svg class="c-icon">
                                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-task"></use>
                                    </svg>&nbsp;
                                    Assign
                                </button>
                            </a>
                            {% else %}
                            <a href="/patients_manager/unassign_questions/{{question.id}}/{{patient.identifier}}/">
                                <button class="btn btn-pill btn-danger" type="button">
                                    <svg class="c-icon">
                                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-x-circle"></use>
                                    </svg>&nbsp;
                                    Unassign
                                </button>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if questions.has_other_pages %}
                <ul class="pagination" style="justify-content: center;">
                    {% if questions.number == 1 %}
                    <li class="page-item"><a class="page-link disabled">⇤</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="?page=1">⇤</a></li>
                    {% endif %}
                    {% if questions.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ questions.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link disabled">&laquo;</a></li>
                    {% endif %}
                    {% for i in questions.paginator|paginate:questions.number %}
                    {% if questions.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if questions.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ questions.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link disabled">&raquo;</a></li>
                    {% endif %}
                    {% if questions.number == questions.paginator.num_pages %}
                    <li class="page-item"><a class="page-link disabled">⇥</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ questions.paginator.num_pages }}">⇥</a></li>
                    {% endif %}
                </ul>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}