{% extends "layouts/base.html" %}

{% block title %} Patients manager {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="fade-in">
        <div class="col-md-8" style="margin: 0 auto;float: none;margin-bottom: 10px;">
            <div class="card">
                <div class="card-header"><strong>Are you sure you want to delete patient '{{ patient }}' ?</strong>
                </div>
                <div class="card-body">
                    <form action="{{request.path}}" class="form-horizontal"
                          enctype="multipart/form-data"
                          method="post">
                        {% csrf_token %}
                        <div class="text-center">
                            <button class="btn btn-sm btn-danger" name="login" type="submit">Confirm</button>
                            <a href="/patients_manager/">
                                <button class="btn btn-sm btn-primary" type="button"> Back</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}

{% endblock content %}

