{% extends "layouts/base.html" %}
{% block title %} Patients Manager {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            {% if success_msg %}
            <div class="alert alert-success">
                <strong>{{ success_msg }}</strong>
            </div>
            {% endif %}
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;">Question text</th>
                        <th style="text-align: center; vertical-align: middle;">Possible responses</th>
                        <th style="text-align: center; vertical-align: middle;">Creator</th>
                        <th style="text-align: center; vertical-align: middle;">Public</th>
                        <th style="text-align: center; vertical-align: middle;">Language</th>
                        <th style="text-align: center; vertical-align: middle;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in questions %}
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ question.text }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% for response in question.responses %}
                            {{response}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ question.creator_id.username }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if question.public %}
                            <span class="badge badge-success">Public</span>
                            {% else %}
                            <span class="badge badge-danger">Private</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ question.get_language_display }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="btn-group">
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-primary dropdown-toggle"
                                        data-toggle="dropdown" type="button">Select ...
                                </button>
                                <div class="dropdown-menu"
                                     style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item" href="/questions_manager/modify/{{question.id}}/">
                                        Modify
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/questions_manager/delete/{{question.id}}/">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="/questions_manager/create">
                    <button class="btn btn-pill btn-block btn-primary" type="button">
                        Create a new question
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}