{% extends "layouts/base.html" %}
{% block title %} Patients Manager {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            {% if success_msg %}
            <div class="alert alert-success">
                <strong>{{ success_msg }}</strong>
            </div>
            {% endif %}
            <div class="card-body">
                {% if patients %}
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;">
                            <svg class="c-icon">
                                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-face"></use>
                            </svg>
                        </th>
                        <th style="text-align: center; vertical-align: middle;">Name</th>
                        <th style="text-align: center; vertical-align: middle;">Username</th>
                        <th style="text-align: center; vertical-align: middle;">Gender</th>
                        <th style="text-align: center; vertical-align: middle;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for patient in patients %}
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">
                            <img height="60" src="data:image/png;base64,{{ patient.picture}}"
                                 style="border-radius: 50%;"
                                 width="50">
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ patient.name }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ patient.username }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ patient.get__gender_display }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="btn-group">
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-primary dropdown-toggle"
                                        data-toggle="dropdown" type="button">Select ...
                                </button>
                                <div class="dropdown-menu"
                                     style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"
                                     x-placement="bottom-start">
                                    <a class="dropdown-item" href="#">
                                        Assign questions
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        Delete patient
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <a href="/patients_manager/assign">
                    <button class="btn btn-pill btn-block btn-primary" type="button">
                        Add a new patient
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}