{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="fade-in">
        <div class="col-md-12">
            <h5 style="text-align: center">Answered questions from patient {{ patient }}</h5>
            {% for question, _ in list_of_questions.items %}
            <div class="card">
                <div class="card-header">
                    {{question}}
                </div>
                <div class="card-body" id="cardbody">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="c-chart-wrapper">
                                <canvas id="{{question}}_bar"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="c-chart-wrapper">
                                <canvas id="{{question}}_pie"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
<script>

charts = {}
{% for question, question_data in list_of_questions.items %}
    responses = [];
    values = [];
    data = [];
    responses_json = {{question_data.responses|safe}};
    for ( let r in responses_json) {
        responses.push(r);
        values.push(responses_json[r]);
    }
    dates = [];
    var get_response_value = function(xValue, yValue) {
      return {
        x: dates.indexOf(xValue),
        y: responses.indexOf(yValue)
      };
    };
    dates_json = {{question_data.dates|safe}};
    for ( let r in dates_json) {
        dates.push(r);
        data.push(get_response_value(r, dates_json[r]));
    }


    //window.alert('{{question_data.dates}}');
    charts['{{question.question}}_bar'] = new Chart(document.getElementById('{{question}}_bar'), {
      type: 'line',
      data: {
        xLabels: dates,
        yLabels: responses,
        datasets: [{
          backgroundColor: 'rgba(1, 249, 31, 0.5)',
          borderColor: 'rgba(0, 0, 0, 0.5)',
          highlightFill: 'rgba(47, 0, 253, 0.5)',
          highlightStroke: 'rgba(220, 220, 220, 0.5)',
          data: data
        }]
      },
      options: {
          tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += ': ';
                        }
                        label += responses[tooltipItem.xLabel];
                        return label;
                    },
                    title: function(tooltipItem, data) {
                        return dates[tooltipItem[0].xLabel]
                    },
                }
        },
        legend: {
            "display": false
        },
        responsive: true,
        scales: {
      xAxes: [{
        type: 'linear',
        position: 'bottom',
        scaleLabel: {
          display: true,
          labelString: 'Date'
        },
        ticks: {
          min: 0,
          max: dates.length - 1,
          callback: function(value) {
            return dates[value];
          },
        },
      }],
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Answer'
        },
        ticks: {
          reverse: true,
          min: 0,
          max: responses.length - 1,
          callback: function(value) {
            return responses[value];
          },
        },
      }]
    }
      }
    });
    /////////// PIE CHART //////////////////////////

    charts['{{question.question}}_pie'] = new Chart(document.getElementById('{{question}}_pie'), {
      type: 'pie',
      data: {
        labels: responses,
        datasets: [{
          data: values,
          backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'],
          hoverBackgroundColor: ['#FF6384', '#36A2EB', '#FFCE56']
        }]
      },
      options: {
        responsive: true
      },

    });
{% endfor %}







</script>

{% endblock javascripts %}
